# Database Configuration
MYSQL_URI=mysql://user:password@localhost:3307/database_name
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DB=your_database_name

# Redis Configuration
REDIS_URI=redis://:your_redis_password@localhost:6380
REDIS_PASSWORD=your_redis_password

# Application Configuration
APPLICATION_PORT=3000
APPLICATION_URL=http://localhost:3000
ALLOWED_ORIGIN=http://localhost:5173

# Session Configuration
SESSION_SECRET=your_session_secret_key_here
SESSION_NAME=session_id
SESSION_DOMAIN=localhost
SESSION_MAX_AGE=7d
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER=sess:

# Cookies Configuration
COOKIES_SECRET=your_cookies_secret_key_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Google reCAPTCHA
GOOGLE_RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

# Yandex OAuth
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
